.shell {
  display: grid;
  min-height: 100svh;
  grid-template-rows: auto 1fr;
}

.main {
  display: flex;
  min-width: 0;
  flex-direction: column;
}

@media (max-width: 63.99rem) {
  .shell {
    padding-block-end: calc(4.75rem + env(safe-area-inset-bottom));
  }
}
