.container {
  width: 100%;
  margin-inline: auto;
  padding-inline-start: max(var(--space-4), env(safe-area-inset-left));
  padding-inline-end: max(var(--space-4), env(safe-area-inset-right));
}

.narrow {
  max-width: calc(var(--content-width-narrow) + (var(--space-8) * 2));
}

.default {
  max-width: calc(var(--content-width-default) + (var(--space-8) * 2));
}

.wide {
  max-width: calc(var(--content-width-wide) + (var(--space-8) * 2));
}

@media (min-width: 48rem) {
  .container {
    padding-inline-start: max(var(--space-8), env(safe-area-inset-left));
    padding-inline-end: max(var(--space-8), env(safe-area-inset-right));
  }
}
