.form {
  display: grid;
  gap: var(--space-4);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-4);
}

@media (max-width: 30rem) {
  .actions {
    align-items: stretch;
    flex-direction: column;
  }

  .actions :global(button) {
    width: 100%;
  }
}
